<div class="footer">
  <div class="footer-links">
    <a href="https://nick-ang.github.io/profile/"><i class="fab fa-github"></i></a>
    <a href="https://www.instagram.com/nickangg/"><i class="fab fa-instagram"></i></a>
    <a href="https://www.linkedin.com/in/nick-c-ang/"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Made with <i class="fas fa-heart"></i> by Nick Ang
  </div>
</div>
