.home-banner {
  background-image: url("https://source.unsplash.com/evlkOfkQ5rE");
  background-size: cover;
  height: 80vh;
  color: #eee;
  text-align: center;
  padding-top: 40vh;
}

.show-banner {
  background-image: url("https://source.unsplash.com/");
  background-size: cover;
  height: 100vh;
  color: #eee;
  text-align: center;
  padding-top: 40vh;
}
